body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #e9e9e9;
  background-color: #3a383a;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 50px 20px 20px;
  border-bottom: 1px solid #ddd;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  color: #1E1E1E;
  font-size: 1.1rem;
}

main {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 20%;
  object-fit: cover;
  margin-bottom: 20px;
}

.intro {
  display: flex;              
  align-items: center;        
  justify-content: center;    
  gap: 30px;                  
  flex-wrap: wrap;            
}


.story {
  margin-bottom: 60px;
}

.story h2 {
  font-size: 1.6rem;
  color: #E0E0E0;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 30px 10px;
  border-top: 1px solid #E0E0E0;
  color: #E0E0E0;
  font-size: 0.9rem;
}

.back-button {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
}

.back-button:hover {
  text-decoration: underline;
}
